
#session-page {
	
	.accountArea {
		width: 100%;
		@media (max-width:991px) {
			padding: 0px 16px;
		}
	}
/*To change the label style
	.MuiFormLabel-root {
		color: #0068ff;
	}
*/
	.accountWrapper {
		width: 1170px;
		display: flex;
		flex-wrap: wrap;
		background: #fff;
		margin: auto;
		box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.06);
		border-radius: 10px;
		margin-top: 150px;		
		overflow: hidden;

		@media (max-width:1279px) {
			width: 900px;
		}

		@media (max-width:991px) {
			width: 100%;
		}


	}

	.accountInfo {
		width: 50%;
		background: #f4f7ff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 600px;
		text-align: left;
		padding: 50px;
		box-sizing: border-box;

		@media (max-width:991px) {
			width: 100%;
		}

		@media (max-width:767px) {
			padding: 40px 30px;

			img {
				width: 100%;
			}
		}

		.accountBtn {
			width: 270px;
			height: 40px;
			//margin-top: 22px;
			-webkit-align-self: flex-end;
			-ms-flex-item-align: end;
			align-self: flex-end;
			border-radius: 9px;
			text-transform: unset;
			-webkit-box-shadow: 0 2px 18px 0 rgba(0,104,255,.18);
			box-shadow: 0 2px 18px 0 rgba(0,104,255,.18);
			background: -webkit-gradient(linear,left top,right top,from(#0068ff),to(#3ee5c9));
			background: linear-gradient(to right,#0068ff 0,#3ee5c9 100%);
			font-size: 18px;
			font-weight: 700;
			line-height: 25px;
			text-align: center;
	

			&:hover {
				background: transparent;
				color: #fff;
			}
		}

		p {
			color: #68696E;
			font-size: 18px;
			margin-top: 20px;

			@media (max-width:767px) {
				font-size: 14px;
			}
		}
	}

	.accountInfoHeader {
		margin-bottom: 40px;

		a {
			display: inline-block;

			img {
				@media (max-width:767px) {
					margin-bottom: 15px;
				}
			}
		}
	}

	.accountArea {
		.image{
			img{
				max-width: 100%;
				margin-top: 35%;
				
			}
			
			@media (max-width: 767px) {
				filter: opacity(.3);
			}

		}
	}

	.fromTitle {
		text-align: center;
		h2 {
			font-size: 30px;
			margin-bottom: 10px;
		}

		p {
			font-size: 15px;
			margin-bottom: 40px;
		}
	}
	//style from bat login
	.badfromTitle {
		text-align: center;
		h2 {
			font-size: 30px;
			margin-bottom: 10px;
		}

		p {
			font-size: 15px;
			margin-bottom: 40px;
			color:#ff0000e0;
		}
	}

	.accountForm {
		width: 50%;
		padding: 70px 85px;
		min-height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;

		@media (max-width:991px) {
			width: 100%;
		}

		@media (max-width:767px) {
			padding: 50px 30px;
			left: 0;
		}

		.formInput {
			
			.MuiInputBase-root {
                max-width: 90vw;
                align-self: center;
                box-shadow: 0 2px 18px 0 rgba(0,104,255,.18);
                color: #0068ff;
                padding-right: 2.5%;
                font-size: 14px;
                line-height: 19px;
                border-radius: 6px;
                margin-bottom: 21px;
                .MuiOutlinedInput-input {
                    padding: 18.5px 14px;
                    text-align: left;
                    font-weight: bold;
                }
            }
			.MuiInputBase-formControl {
				fieldset {
					border: 1px solid #e5e5e5 !important;
				}

				&.Mui-focused {
					fieldset {
						border: 1px solid #3b53db !important;
					}
				}
			}
		}

		.loginAction {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 10px;

			.remambar {
				margin-right: 0;
			}

			a {
				display: inline-block;
				font-size: 14px;
				color: #3b53db;

				&:hover {
					opacity: .8;
				}
			}
		}

		.accountBtn {
			font-size: 16px;
			padding: 10px 20px;
			width: 270px;
			height: 40px;
			//margin-top: 22px;
			-webkit-align-self: flex-end;
			-ms-flex-item-align: end;
			align-self: center;
			border-radius: 9px;
			text-transform: unset;
			-webkit-box-shadow: 0 2px 18px 0 rgba(0,104,255,.18);
			box-shadow: 0 2px 18px 0 rgba(0,104,255,.18);
			font-size: 18px;
			font-weight: 700;
			line-height: 25px;
			text-align: center;

		}
	}

	.or {
		border-top: 1px solid #3c54db;
		margin-top: 45px;
		text-align: center;
		font-weight: 500;
		margin-bottom: 20px;

		span {
			font-size: 16px;
			text-transform: uppercase;
			display: inline-block;
			padding: 0 25px;
			background: #fff;
			position: relative;
			top: -14px;
			color: #3b53db;
		}
	}

	.socialLoginBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 200px;
		flex-wrap: wrap;

		li {
			margin: 0px 5px 5px;

			button {
				height: 30px;
				min-width: 92px;
				font-size: 15px;
				border-radius: 3px;
				overflow: hidden;
				cursor: pointer;
				position: relative;
				border: none;
				text-transform: capitalize;
				font-weight: 400;
				color: #fff;

				&:focus {
					outline: none;
				}

				&.facebook {
					background: #3b5998;
				}

				&.twitter {
					background: #55acee;
				}

				&.linkedin {
					background: #0077B5;
				}
			}
		}
	}

	.subText {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;

		a {
			display: inline-block;
			font-size: 14px;
			color: #3b53db;

			&:hover {
				opacity: .8;
			}
		}
	}

	[aria-hidden=true] {
		display: none;
	}
}
#googleStyle{
	display: flex;
	justify-content: center;
	padding-top: 15px;
}
#facebookStyle{
	display: flex;
	justify-content: center;
	padding-top: 15px;
	:hover {
		box-shadow:rgba(66, 133, 244, 0.3) 0px 0px 3px 3px; ;
	}
}

.faStyle{
	text-transform: none;
	font-family:"Lato", sans-serif;
	background-color: #4c69ba;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
	height: 50px;
	width: 240px;
	border: none;
	text-align: center;	font-size: 16px;
	line-height: 48px;
	display: block;
	border-radius: 1px;
	transition: background-color 0.218s ease 0s, border-color 0.218s ease 0s, box-shadow 0.218s ease 0s;
	font-family: Roboto, arial, sans-serif;
	cursor: pointer;
	user-select: none;
	.fa {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		padding-left: 0px;
		padding-right: 10px;
	}
	.textButton{
		text-align: end;
	}
}
#FaceStyle{
	padding-bottom: 10px;

}
#goS{
	padding-right: 5px;
	padding-top: 5px;
}
#socialStyle{
	display: flex;
}
#betStyle{
	padding-right: 5px;
	padding-left: 5px;
}